<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Roboto&display=swap" rel="stylesheet">
    

<title>Welcome</title>

    <style>

        body{
            overflow: hidden;
        }
        .roboto{
            font-family: 'Roboto', sans-serif;
        }

        .fancy {
            font-family: 'Oleo Script Swash Caps', cursive;
        }

    </style>

</head>

<body class="bg-yellow-300 h-screen w-screen">

    <div class="p-12 flex">
        <nav>
            <p   class="text-5xl fancy cursor-pointer">Slaveship</p>
            <p   class="text-sm roboto">
                Sponsored by PussyLulu
            </p>
        </nav>

        <div class="flex-grow">

        </div>

        <div class="roboto xs:hidden">
            Free Satoshis, brought to you by A Japanese Man, enjoy.
        </div>
    </div>

    <div class="text-center">

        <div>
            <form method="post" action="/freecoins" class="flex flex-col items-center space-y-6">
                <input     autoComplete="off"                name="bitcoinaddress" placeholder="your bitcoin address" class="text-center h-12 rounded-md w-full w-96" type="text" />
                <input  type="submit" class="bg-black rounded-md cursor-pointer hover:bg-red-800  text-yellow-400 p-3" value="mine a block, get rewarded 1000 sats"/>
            </form>
            <p class="text-sm roboto mt-2">Please note: you will only be able to get free sats once a day</p>
            <div class="bg-black p-2 mt-12">
                <p class="text-white">Total Balance In Faecet</p>
                <p id="balance" class="text-white text-sm font-bold">---</p>
                <p class="text-white">Faecet Address: </p>
                <p class="text-white text-sm font-bold">
                    bc1q7aa46f035qk2k9kuw8vstpfrg4ut57h2ajrslm
                </p>
                <div class="flex justify-center items-center mt-3 mb-3">
                    <img style="height:100px" src="qr.png"/>
                </div>
             </div>
        </div>

        <div style="height:1000px" class=" flex  flex-col mt-12 bg-black">
            
            <p class="text-white text-4xl pt-5 roboto">Current Bitcoin Block</p>
            <p class="text-white text-center text-sm roboto">Roughly Every 10 minutes a new block will be mined</p>

            <div class="flex-grow  flex text-white justify-around items-center">
                <div class="w-96 flex-col animate animate-bounce  h-96 flex items-center justify-center text-black bg-yellow-400">
                    <p class="roboto">Previous Block</p>
                    <p id="previousBlock" class="text-4xl">---</p>
                </div>
                <div class="w-96 flex-col animate animate-bounce  h-96 flex items-center justify-center text-black bg-yellow-400">
                    <p class="roboto">Current Block</p>

                    <p id="currentBlock" class="text-4xl">---</p>
                </div>
            </div>
        
        </div>

    </div>
    
</body>
</html>

<script>

    async function updateCurrentBlock(){
        const res = await fetch('/getcurrentblockcount')
        const data = await res.json()
        document.querySelector('#currentBlock').innerHTML = `#${data.result}`
        document.querySelector('#previousBlock').innerHTML = `#${data.result-1}`
    }

    async function getBalance(){
        const res = await fetch('/getbalance')
        const data = await res.json()
        const sats = data.result * 100000000
        document.querySelector('#balance').innerHTML = `${sats} sats`
    }

    (async()=>{
        
        setInterval(()=>{
            updateCurrentBlock();
        }, 100000)

        setInterval(()=>{
            getBalance();
        },10000)

        updateCurrentBlock();
        getBalance();


    })()

</script>